@{
    ViewData["Title"] = "Contact Manager";
}

<div class="text-center bg-dark text-white p-3 mb-3">
    <h2>@ViewData["Title"]</h2>
</div>

<p>
    <a asp-action="Create" class="btn btn-link">Add Contact</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@contact.Id">@contact.FirstName</a></td>
                <td>@contact.LastName</td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>@contact.Category</td>
            </tr>
        }
    </tbody>
</table>
