@model List<Contact>
@{
    ViewData["Title"] = "Contact Manager";
}

<div class="text-center bg-dark text-white p-3 mb-3">
    <h2>@ViewData["Title"]</h2>
</div>

<a asp-controller="Contact" asp-action="Add">Add New Contact</a>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Contact" asp-action="Details"
                       asp-route-id="@contact.Id">
                        @contact.FirstName
                    </a>
                </td>
                <td>
                    <a asp-controller="Contact" asp-action="Details"
                       asp-route-id="@contact.Id">
                        @contact.LastName
                    </a>
                </td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>@contact.Category.Name</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit"
                       asp-route-id="@contact.Id"
                       asp-route-slug="@contact.Slug">Edit</a>
                    <a asp-controller="Contact" asp-action="Delete"
                       asp-route-id="@contact.Id"
                       asp-route-slug="@contact.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
